* {
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Slab', serif;
    margin: 0;
}

.banner {
    height: 600px;
    width: 100%;
    background-image: url(images/donation6.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
    padding-top: 150px;
    color: white;
    margin-bottom: 50px;
}

.title {
    font-size: 55px;
    padding: 10px 300px;
}

.titleParagraph {
    font-size: 18px;
    font-weight: 500;
    padding: 5px 150px;
}

.donateBtn {
    height: 60px;
    width: 150px;
    font-size: 20px;
    font-weight: 500;
    background-color: rgb(92, 170, 92);
    margin-top: 30px;
    color: white;
    border-radius: 5px;
    border: none;
}

.donateBtn:hover {
    background-color: rgb(4, 72, 4);
}

.donate {
    color: rgb(67, 64, 64);
    text-align: center;
    margin-top: 50px;

}

.amount {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    font-size: 30px;
    margin: 20px 150px 10px 150px;
}

.amount li {
    list-style: none;
    margin-top: 40px;
    padding: 15px;
    border: 1px solid gray;
    box-shadow: 5px 5px 5px gray;
}

.amount li:hover {
    background-color: rgb(91, 166, 91);
    border: 1px solid green;
    border-radius: 5px;
}

#takaInput {
    margin-top: 80px;
    width: 400px;
    padding: 15px;
    border: none;
    border-bottom: 4px solid gray;
}

.plan {
    margin-top: 100px;
    color: rgb(67, 64, 64);
    text-align: center;

}

.planning {
    display: flex;
    justify-content: space-evenly;

}

.card {
    text-align: left;
    font-size: 14px;
    height: 300px;
    width: 400px;
    border: 1px solid gray;
    padding: 20px;
    margin: 20px;
    padding-top: 40px;

}

#card1 {
    background-color: antiquewhite;

}

#card2 {
    background-color: rgb(200, 225, 228);

}

#card3 {
    background-color: lightgoldenrodyellow;
}

.plan {
    margin-top: 100px;
    color: rgb(67, 64, 64);
    text-align: center;

}

#Email {
    height: 40px;
    width: 400px;
    margin: 50px 0px 50px 80px;
    position: relative;
    border-radius: 5px;
}

.subBtn {
    margin-right: 30px;
    height: 47px;
    width: 100px;
    background-color: rgb(133, 200, 133);
    font-size: 15px;
    border: none;
}

.update {
    text-align: center;
    background-color: lightgreen;
    margin: 5px 200px;

}

.ending {
    margin-top: 40px;
    height: 150px;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}

footer {
    font-size: 20px;
    color: mediumspringgreen;
    padding-top: 40px;
}

h6 {
    color: white;
    padding-top: 10px;
    font-family: 'Times New Roman', Times, serif;
}